<a href="https://colab.research.google.com/github/Abbas-Hussein/My-DataScience-Projects/blob/main/Pandas_Ch3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

## Pandas
Pandas is used to clean, analyze, and manipulate data. We can use pandas to prepare data for machine learning

In [ ]:
# csv stands for comma separated value
df = pd.read_csv('/content/fifa21_raw_data.csv',low_memory=False)

FileNotFoundError: [Errno 2] No such file or directory: '/content/fifa21_raw_data.csv'

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.tail(10)

In [ ]:
df.sample(5) # This gives 5 random numbers

In [ ]:
series = pd.Series(['cat','dog','ant','fish'])
dataframe = pd.DataFrame({
    'Animals': ['cat','dog','ant','fish'],
    'Age':[4,5,6,7]
    })

In [ ]:
series[0]

In [ ]:
dataframe

In [ ]:
new_series = pd.Series(['cat','dog','ant','fish'],index=['A','B','C','D'])

In [ ]:
new_series

In [ ]:
new_series['C']

In [ ]:
new_series[['C','A','B']]

In [ ]:
new_series['A'] = "python"

NameError: name 'new_series' is not defined

In [ ]:
new_series

In [ ]:
new_series['E'] = "lizard"

In [ ]:
new_series

In [ ]:
num_series = pd.Series([1,2,3,4],['A','B','C','D'])
num_series

A    1
B    2
C    3
D    4
dtype: int64

In [ ]:
num_series * 3

A     3
B     6
C     9
D    12
dtype: int64

In [ ]:
num_series - 10.2

A   -9.2
B   -8.2
C   -7.2
D   -6.2
dtype: float64

In [ ]:
num_series % 2

A    1
B    0
C    1
D    0
dtype: int64

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
new_series = pd.Series(['Cat','Dog','Ant','Fish'],['A','B','C','D'], name="Animals") # name argument lets you give your series a name

In [ ]:
new_series

A     Cat
B     Dog
C     Ant
D    Fish
Name: Animals, dtype: object

In [ ]:
new_dataframe = pd.DataFrame([new_series,new_series])

In [ ]:
new_dataframe

           A    B    C     D
Animals  Cat  Dog  Ant  Fish
Animals  Cat  Dog  Ant  Fish

In [ ]:
data = {
    'name': ['John','Jack','Bob'],
    'A': [1,2,3],
    'B': [4,5,6],
}

df = pd.DataFrame(data,index=['row1','row2','row3'])
df

      name  A  B
row1  John  1  4
row2  Jack  2  5
row3   Bob  3  6

In [ ]:
n = 20

data = {
    'col1': [chr(c) for c in range (65,65+n)],
    'col2': [i for i in range(1,1+n)],
    'col3': [i*10 for i in range(1,1+n)],
}

index = [f'row{i}' for i in range(1,1+n)]
df = pd.DataFrame(data,index=index)
df

      col1  col2  col3
row1     A     1    10
row2     B     2    20
row3     C     3    30
row4     D     4    40
row5     E     5    50
row6     F     6    60
row7     G     7    70
row8     H     8    80
row9     I     9    90
row10    J    10   100
row11    K    11   110
row12    L    12   120
row13    M    13   130
row14    N    14   140
row15    O    15   150
row16    P    16   160
row17    Q    17   170
row18    R    18   180
row19    S    19   190
row20    T    20   200

In [ ]:
df.loc['row9']

col1     I
col2     9
col3    90
Name: row9, dtype: object

In [ ]:
df.loc[['row9','row6'],['col2','col1']]

      col2 col1
row9     9    I
row6     6    F

In [ ]:
df.loc[['row9','row6'],'col1']

row9    I
row6    F
Name: col1, dtype: object

In [ ]:
new_df.iloc[[2,0,1]]

NameError: name 'new_df' is not defined

In [ ]:
df.loc["row1":"row7","col2"]

row1    1
row2    2
row3    3
row4    4
row5    5
row6    6
row7    7
Name: col2, dtype: int64

# Indexing in pandas
- `.loc[]` Used to index by name
- `.iloc[]` Used to index by position

In [ ]:
df.loc['row1']

col1     A
col2     1
col3    10
Name: row1, dtype: object

In [ ]:
df.loc[['row1','row3','row2']]

     col1  col2  col3
row1    A     1    10
row3    C     3    30
row2    B     2    20

In [ ]:
new_df = pd.DataFrame(data)

In [ ]:
new_df

   col1  col2  col3
0     A     1    10
1     B     2    20
2     C     3    30
3     D     4    40
4     E     5    50
5     F     6    60
6     G     7    70
7     H     8    80
8     I     9    90
9     J    10   100
10    K    11   110
11    L    12   120
12    M    13   130
13    N    14   140
14    O    15   150
15    P    16   160
16    Q    17   170
17    R    18   180
18    S    19   190
19    T    20   200

In [ ]:
df.loc[:,'col1']

row1     A
row2     B
row3     C
row4     D
row5     E
row6     F
row7     G
row8     H
row9     I
row10    J
row11    K
row12    L
row13    M
row14    N
row15    O
row16    P
row17    Q
row18    R
row19    S
row20    T
Name: col1, dtype: object

In [ ]:
df.iloc[:4]

     col1  col2  col3
row1    A     1    10
row2    B     2    20
row3    C     3    30
row4    D     4    40

In [ ]:
df.iloc[:4,[1,0]]

      col2 col1
row1     1    A
row2     2    B
row3     3    C
row4     4    D

In [ ]:
df.loc[df['col2'] % 2 == 0,['col3','col1']]

       col3 col1
row2     20    B
row4     40    D
row6     60    F
row8     80    H
row10   100    J
row12   120    L
row14   140    N
row16   160    P
row18   180    R
row20   200    T

In [ ]:
df.loc[(df['col2'] % 2 == 0) & ~(df['col3'] > 50),['col3','col1']]

      col3 col1
row2    20    B
row4    40    D

In [ ]:
df[df['col2'] % 2 == 0][['col3','col1']]

       col3 col1
row2     20    B
row4     40    D
row6     60    F
row8     80    H
row10   100    J
row12   120    L
row14   140    N
row16   160    P
row18   180    R
row20   200    T

### Data Cleaning

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Titanic-Dataset.csv")

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df['Age'].fillna(round(df['Age'].mean()))

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    30.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
df[df['Age'].notna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df[df['Age'].isna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

# Types of data (statistics)
- Categorical (Qualitative)
 - Nominal: This type of data doesn't have an order or ranking. Each category have equal precedence. E.g. (sex, favorite color)
 - Ordinal: This type of data has order or ranking. E.g. (Position, Rating)
- Numerical (Quantitative)
 - Metric: This type of data can take values of any range. They are usually measurements.
 - Discrete: This type of data is countable

In [ ]:
import pandas as pd

In [ ]:
# Replace
df = pd.read_csv("/content/Titanic-Dataset.csv")

In [ ]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
634,635,0,3,"Skoog, Miss. Mabel",female,9.0,3,2,347088,27.9000,NaN,S
723,724,0,2,"Hodges, Mr. Henry Price",male,50.0,0,0,250643,13.0000,NaN,S
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.0,0,0,STON/O 2. 3101294,7.9250,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [ ]:
df['Pclass']

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

In [ ]:
df["Pclass"] = df["Pclass"].replace({1: "First",2: "Second",3: "Third"})

In [ ]:
df['Survivied'] = df['Survived'].replace({0:'Perished',1:"Survived"})

In [ ]:
df['Survived'] = df['Survived'].replace({0:'Perished',1:"Survived"})

In [ ]:
df.drop('Survivied',axis='columns',inplace=True) #inplace changes the original dataframe to the modified one

In [ ]:
df = df.drop('Survivied',axis='columns') #Another way to change the dataframe to the modified version and still retain the older version because you placed it in a variable

KeyError: "['Survivied'] not found in axis"

In [ ]:
df.sample(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
60,61,Perished,Third,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
285,286,Perished,Third,"Stankovic, Mr. Ivan",male,33.0,0,0,349239,8.6625,NaN,C
742,743,Survived,First,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
341,342,Survived,First,"Fortune, Miss. Alice Elizabeth",female,24.0,3,2,19950,263.0000,C23 C25 C27,S

In [ ]:
# df['Ticket']
string = "Hello"
string.upper()

'HELLO'

In [ ]:
df['Name'].upper()

AttributeError: 'Series' object has no attribute 'upper'

In [ ]:
string = "How aroe you"
string.split("o")

In [ ]:
df[df['Name'].str.split(expand=True)[13].notna()]['Name'].str.split(expand=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
307,Penasco,y,"Castellana,",Mrs.,Victor,de,Satode,(Maria,Josefa,Perez,de,Soto,y,Vallejo)

In [ ]:
df[df['Name'].str.split(expand=True)[13].notna()]['Name'].str.split(expand=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
307,Penasco,y,"Castellana,",Mrs.,Victor,de,Satode,(Maria,Josefa,Perez,de,Soto,y,Vallejo)

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,Survived,First,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,Survived,Third,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df[
    df['Name'].str.split(expand=True)[13].notna() #Selects rows where the 13th .name is valid
]['Name'].str.split(expand=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
307,Penasco,y,"Castellana,",Mrs.,Victor,de,Satode,(Maria,Josefa,Perez,de,Soto,y,Vallejo)

In [ ]:
df['Name'].str.len()

0      23
1      51
2      22
3      44
4      24
       ..
886    21
887    28
888    40
889    21
890    19
Name: Name, Length: 891, dtype: int64

In [ ]:
df['Name_length'] = df['Name'].str.len()

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,23
1,2,Survived,First,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,51
2,3,Survived,Third,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,22
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,44
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,Perished,Second,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,21
887,888,Survived,First,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,28
888,889,Perished,Third,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,40
889,890,Survived,First,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,21
890,891,Perished,Third,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,19

In [ ]:
df["Embarked"] = df['Embarked'].fillna(value="U")

In [ ]:
df["Embarked"]=df["Embarked"].map({"S":1,"C":2,"Q":3,'U':4}) # Use instead of replace

In [ ]:
df['Embarked'].unique()

array([1, 2, 3, 4])

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,23
1,2,Survived,First,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,2,51
2,3,Survived,Third,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,22
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,44
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,Perished,Second,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,1,21
887,888,Survived,First,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,1,28
888,889,Perished,Third,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,1,40
889,890,Survived,First,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,2,21
890,891,Perished,Third,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,3,19

Apply in pandas
 - Apply applies a given function to every element of a series / dataframe and gives a dataframe with the applied result

In [ ]:
df['Seniority'] = df['Age'].apply(lambda age: "Senior" if age >= 30 else "Junior") # Returns Senior for each entry in the dataframe if the age is greater than or equal to 30 else it returns junior

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,23,Junior
1,2,Survived,First,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,2,51,Senior
2,3,Survived,Third,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,22,Junior
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,44,Senior
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior

Groupby
 - Used to group rows based on shared data
 - Groupby is used aminly for aggregation
 - Aggregation means summarizing data. E.g. Getting the mean,median,mode,sum of an entire pandas series

In [ ]:
df.head()
# len('123') # Function
# '123'.isdigit() # Method

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,23,Junior
1,2,Survived,First,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,2,51,Senior
2,3,Survived,Third,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,22,Junior
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,44,Senior
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior

In [ ]:
sex_group = df.groupby('Sex')

In [ ]:
sex_group.get_group('male')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,23,Junior
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior
5,6,Perished,Third,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,3,16,Junior
6,7,Perished,First,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,1,23,Senior
7,8,Perished,Third,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,1,30,Junior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,Perished,Second,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,1,29,Junior
884,885,Perished,Third,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,1,22,Junior
886,887,Perished,Second,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,1,21,Junior
889,890,Survived,First,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,2,21,Junior
890,891,Perished,Third,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,3,19,Senior

In [ ]:
sex_group.get_group('female')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority
1,2,Survived,First,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,2,51,Senior
2,3,Survived,Third,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,22,Junior
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,44,Senior
8,9,Survived,Third,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,1,49,Junior
9,10,Survived,Second,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,2,35,Junior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,Survived,Second,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,1,44,Junior
882,883,Perished,Third,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,1,28,Junior
885,886,Perished,Third,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,3,36,Senior
887,888,Survived,First,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,1,28,Junior
888,889,Perished,Third,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,1,40,Junior

In [ ]:
multi_group = df.groupby(['Sex','Seniority'])

In [ ]:
multi_group['Age'].mean()

Sex     Seniority
female  Junior       17.965986
        Senior       40.745614
male    Junior       19.920549
        Senior       42.583333
Name: Age, dtype: float64

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,23,Junior
1,2,Survived,First,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,2,51,Senior
2,3,Survived,Third,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,22,Junior
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,44,Senior
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior

In [ ]:
df.iloc[0].Age // 20

np.float64(1.0)

In [ ]:
df.groupby(lambda n:df.iloc[n].Age //20).get_group(0) # so we get the position of n (which is the rows) and get the age off of it and use floor division

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority
7,8,Perished,Third,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,1,30,Junior
9,10,Survived,Second,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,2,35,Junior
10,11,Survived,Third,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,1,31,Junior
14,15,Perished,Third,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,1,36,Junior
16,17,Perished,Third,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,3,20,Junior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,856,Survived,Third,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,1,26,Junior
869,870,Survived,Third,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,1,31,Junior
875,876,Survived,Third,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,2,32,Junior
877,878,Perished,Third,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,1,20,Junior
887,888,Survived,First,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,1,28,Junior

In [ ]:
df1 = df.groupby('Sex')

Class Work

In [ ]:
df1.get_group('male')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,23,Junior
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior
5,6,Perished,Third,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,3,16,Junior
6,7,Perished,First,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,1,23,Senior
7,8,Perished,Third,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,1,30,Junior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,Perished,Second,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,1,29,Junior
884,885,Perished,Third,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,1,22,Junior
886,887,Perished,Second,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,1,21,Junior
889,890,Survived,First,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,2,21,Junior
890,891,Perished,Third,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,3,19,Senior

In [ ]:
df.groupby(['Sex','Survived']).Age.mean()

Sex     Survived
female  Perished    25.046875
        Survived    28.847716
male    Perished    31.618056
        Survived    27.276022
Name: Age, dtype: float64

In [ ]:
df1 = pd.read_csv("/content/fifa21_raw_data.csv",low_memory=False)

FileNotFoundError: [Errno 2] No such file or directory: '/content/fifa21_raw_data.csv'

In [ ]:
df1.head()

In [ ]:
df1[df1['LongName'].str.split(expand=True)[5].notna()]['LongName'].str.split(expand=True)

In [ ]:
df1.head()

In [ ]:
df1['A/W'].unique()

In [ ]:
df1['A/W'] = df1['A/W'].map({'Medium':'Moderate','High':"Great",'Low':"Small"})

In [ ]:
df1

# Assignment
- Get the mean survival rate of each gender based on their age range. (Group the ages by 20 e.g 0-19,20-39)

In [ ]:
df.groupby(lambda n:df.iloc[n].Age //20)

In [ ]:
df4 = df.groupby(['Sex','Survived']).Age.mean()

In [ ]:
df4.head()

In [ ]:
df['Survived']=df['Survived'].map({'Perished':0,'Survived':1})

In [ ]:
df.head()

In [ ]:
#agg
df.groupby(['Sex',df['Age'] // 20]).agg({'Survived':'mean','Fare':'sum'})

In [ ]:
# Transform: for every group, the transform is going to give thesame value of a function ran to them
df['Survived_age_mean'] = df.groupby(['Sex','Survived']).Age.transform('mean')
# So it creates a new column with each entry filled with the mean age of people in each group. In this case (male,0),(male,1),(female,0),(female,1)

In [ ]:
df[['Survived_age_mean','Survived','Sex','Name']].sample(5)

,Survived_age_mean,Survived,Sex,Name
611,31.618056,Perished,male,"Jardin, Mr. Jose Neto"
430,27.276022,Survived,male,"Bjornstrom-Steffansson, Mr. Mauritz Hakan"
530,28.847716,Survived,female,"Quick, Miss. Phyllis May"
45,31.618056,Perished,male,"Rogers, Mr. William John"
307,28.847716,Survived,female,"Penasco y Castellana, Mrs. Victor de Satode (M..."

In [ ]:
# SORT VALUES
df.sort_values('Age') # Sorts row with valid ages by their age in ascending order

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean
803,804,Survived,Third,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,2,31,Junior,27.276022
755,756,Survived,Second,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,1,25,Junior,27.276022
644,645,Survived,Third,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,2,22,Junior,28.847716
469,470,Survived,Third,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,2,29,Junior,28.847716
78,79,Survived,Second,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,1,29,Junior,27.276022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,Perished,Third,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,2,16,Junior,31.618056
863,864,Perished,Third,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,1,33,Junior,25.046875
868,869,Perished,Third,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,1,27,Junior,31.618056
878,879,Perished,Third,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,1,18,Junior,31.618056
888,889,Perished,Third,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,1,40,Junior,25.046875

In [ ]:
df[df['Age'].notna()].sort_values('Age') # Sorts rows with valid ages by their age in ascending order

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean
803,804,Survived,Third,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,2,31,Junior,27.276022
755,756,Survived,Second,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,1,25,Junior,27.276022
644,645,Survived,Third,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,2,22,Junior,28.847716
469,470,Survived,Third,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,2,29,Junior,28.847716
78,79,Survived,Second,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,1,29,Junior,27.276022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,117,Perished,Third,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,3,20,Senior,31.618056
493,494,Perished,First,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49.5042,NaN,2,23,Senior,31.618056
96,97,Perished,First,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,2,25,Senior,31.618056
851,852,Perished,Third,"Svensson, Mr. Johan",male,74.00,0,0,347060,7.7750,NaN,1,19,Senior,31.618056
630,631,Survived,First,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,1,36,Senior,27.276022

In [ ]:
df.sort_values(['Age','Fare'],ascending=False) # Sorts rows with valid ages by their age in descending order

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean
630,631,Survived,First,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,1,36,Senior,27.276022
851,852,Perished,Third,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,1,19,Senior,31.618056
493,494,Perished,First,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,2,23,Senior,31.618056
96,97,Perished,First,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,2,25,Senior,31.618056
116,117,Perished,Third,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,3,20,Senior,31.618056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,482,Perished,Second,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,1,32,Junior,31.618056
633,634,Perished,First,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0000,NaN,1,29,Junior,31.618056
674,675,Perished,Second,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0000,NaN,1,26,Junior,31.618056
732,733,Perished,Second,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0000,NaN,1,20,Junior,31.618056
815,816,Perished,First,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,1,16,Junior,31.618056

In [ ]:
df.sort_values(['Age','Fare'],ascending=[True,False]).head(10) # sorts based on the age, then sorts by fare for rows with thesame age

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean
803,804,Survived,Third,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,2,31,Junior,27.276022
755,756,Survived,Second,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,1,25,Junior,27.276022
469,470,Survived,Third,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,2,29,Junior,28.847716
644,645,Survived,Third,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,2,22,Junior,28.847716
78,79,Survived,Second,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,1,29,Junior,27.276022
831,832,Survived,Second,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,1,31,Junior,27.276022
305,306,Survived,First,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,1,30,Junior,27.276022
386,387,Perished,Third,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,1,31,Junior,31.618056
164,165,Perished,Third,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,1,28,Junior,31.618056
183,184,Survived,Second,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,1,25,Junior,27.276022

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,23,Junior,31.618056
1,2,Survived,First,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,2,51,Senior,28.847716
2,3,Survived,Third,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,22,Junior,28.847716
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,44,Senior,28.847716
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior,31.618056

In [ ]:
df[df.duplicated(subset='Ticket',keep=False)] # if you specify keep=False, it will remove all duplicates but if you dont specify, it shows the first duplicates and remove the rest

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,44,Senior,28.847716
7,8,Perished,Third,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,1,30,Junior,31.618056
8,9,Survived,Third,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,1,49,Junior,28.847716
9,10,Survived,Second,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,2,35,Junior,28.847716
10,11,Survived,Third,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,1,31,Junior,28.847716
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,877,Perished,Third,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,1,29,Junior,31.618056
879,880,Survived,First,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,2,45,Senior,28.847716
880,881,Survived,Second,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,1,44,Junior,28.847716
885,886,Perished,Third,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,3,36,Senior,25.046875
888,889,Perished,Third,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,1,40,Junior,25.046875

In [ ]:
df.drop_duplicates(subset=['Ticket','Age']) # Removes rows with the same ticket and age (keeps the first)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,23,Junior,31.618056
1,2,Survived,First,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,2,51,Senior,28.847716
2,3,Survived,Third,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,22,Junior,28.847716
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,44,Senior,28.847716
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior,31.618056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,Perished,Third,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,3,36,Senior,25.046875
886,887,Perished,Second,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,1,21,Junior,31.618056
887,888,Survived,First,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,1,28,Junior,28.847716
889,890,Survived,First,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,2,21,Junior,27.276022
890,891,Perished,Third,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,3,19,Senior,31.618056

In [ ]:
df.drop_duplicates(subset=['Ticket','Age'],keep='last') #Removes rows with the same ticket and age (Keeps the last)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,23,Junior,31.618056
1,2,Survived,First,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,2,51,Senior,28.847716
2,3,Survived,Third,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,22,Junior,28.847716
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,44,Senior,28.847716
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior,31.618056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,Perished,Second,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,1,21,Junior,31.618056
887,888,Survived,First,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,1,28,Junior,28.847716
888,889,Perished,Third,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,1,40,Junior,25.046875
889,890,Survived,First,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,2,21,Junior,27.276022
890,891,Perished,Third,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,3,19,Senior,31.618056

In [ ]:
df.duplicated(subset='Name').any() # Returns True if any values in the "Name" column is duplicated

np.False_

In [ ]:
df.duplicated(subset='Name').all() # Returns True if all the values in the 'Name' column is the same

np.False_

In [ ]:
df['Survived_words'] = df['Survived'].map({0:'Died',1:'Survived'})

In [ ]:
df.groupby(['Sex','Survived_words']).Age.mean()

Series([], Name: Age, dtype: float64)

In [ ]:
df['age'] = df.groupby(['Sex','Survived_words']).Age.transform(lambda x:x.fillna(x.mean())) # fills missing age values based on the mean of the group

In [ ]:
df[df.Age.isna()][['Age','age']] # Returns the row with missing ages and their fill value

     Age  age
5    NaN  NaN
17   NaN  NaN
19   NaN  NaN
26   NaN  NaN
28   NaN  NaN
..   ...  ...
859  NaN  NaN
863  NaN  NaN
868  NaN  NaN
878  NaN  NaN
888  NaN  NaN

[177 rows x 2 columns]

In [ ]:
df[(df.Age > 30) & (df.Fare < 25)] # Gets the rows with Age greater than 30 and Fare less than 25

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean,Survived_words,age
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior,31.618056,NaN,NaN
15,16,Survived,Second,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,1,32,Senior,28.847716,NaN,NaN
18,19,Perished,Third,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,1,55,Senior,25.046875,NaN,NaN
21,22,Survived,Second,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,1,21,Senior,27.276022,NaN,NaN
33,34,Perished,Second,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,1,21,Senior,31.618056,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,866,Survived,Second,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,1,24,Senior,28.847716,NaN,NaN
872,873,Perished,First,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,1,24,Senior,31.618056,NaN,NaN
873,874,Perished,Third,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,1,27,Senior,31.618056,NaN,NaN
881,882,Perished,Third,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,1,18,Senior,31.618056,NaN,NaN
890,891,Perished,Third,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,3,19,Senior,31.618056,NaN,NaN

In [ ]:
# Query is used to filter and get some particular data
df.query('Age > 30 and Fare < 25') # Gets the rows with Age greater than 30 and Fare less than 25

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean,Survived_words,age
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior,31.618056,NaN,NaN
15,16,Survived,Second,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,1,32,Senior,28.847716,NaN,NaN
18,19,Perished,Third,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,1,55,Senior,25.046875,NaN,NaN
21,22,Survived,Second,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,1,21,Senior,27.276022,NaN,NaN
33,34,Perished,Second,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,1,21,Senior,31.618056,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,866,Survived,Second,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,1,24,Senior,28.847716,NaN,NaN
872,873,Perished,First,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,1,24,Senior,31.618056,NaN,NaN
873,874,Perished,Third,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,1,27,Senior,31.618056,NaN,NaN
881,882,Perished,Third,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,1,18,Senior,31.618056,NaN,NaN
890,891,Perished,Third,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,3,19,Senior,31.618056,NaN,NaN

In [ ]:
min_age = 30
max_fare = 25
df.query('Age > @min_age and Fare < @max_fare') # The '@' symbol is used before specifying a variable name. In this case it will replace @min_age with 30 and @max_fare with 25

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean,Survived_words,age
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior,31.618056,NaN,NaN
15,16,Survived,Second,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,1,32,Senior,28.847716,NaN,NaN
18,19,Perished,Third,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,1,55,Senior,25.046875,NaN,NaN
21,22,Survived,Second,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,1,21,Senior,27.276022,NaN,NaN
33,34,Perished,Second,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,1,21,Senior,31.618056,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,866,Survived,Second,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,1,24,Senior,28.847716,NaN,NaN
872,873,Perished,First,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,1,24,Senior,31.618056,NaN,NaN
873,874,Perished,Third,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,1,27,Senior,31.618056,NaN,NaN
881,882,Perished,Third,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,1,18,Senior,31.618056,NaN,NaN
890,891,Perished,Third,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,3,19,Senior,31.618056,NaN,NaN

In [ ]:
df.Embarked.unique()

array([1, 2, 3, 4])

In [ ]:
# So if we wish to get only 'C' and 'Q', we use:
df.query('Embarked in ["C,","Q"]') # Selects rows with embarked values of either C or Q

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Name_length, Seniority, Survived_age_mean, Survived_words, age]
Index: []

In [ ]:
df.query('Embarked not in ["C","Q"]') # Selects row with Embarked values that are neither "C" nor "Q"

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean,Survived_words,age
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,23,Junior,31.618056,NaN,NaN
1,2,Survived,First,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,2,51,Senior,28.847716,NaN,NaN
2,3,Survived,Third,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,22,Junior,28.847716,NaN,NaN
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,44,Senior,28.847716,NaN,NaN
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior,31.618056,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,Perished,Second,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,1,21,Junior,31.618056,NaN,NaN
887,888,Survived,First,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,1,28,Junior,28.847716,NaN,NaN
888,889,Perished,Third,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,1,40,Junior,25.046875,NaN,NaN
889,890,Survived,First,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,2,21,Junior,27.276022,NaN,NaN
890,891,Perished,Third,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,3,19,Senior,31.618056,NaN,NaN

In [ ]:
embarked = ['C','Q']
df.query('Embarked in @embarked') # Selects row with Embarked values of either 'C' or 'Q'

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Name_length, Seniority, Survived_age_mean, Survived_words, age]
Index: []

In [ ]:
df[df.Embarked.isin(['C','Q'])] # Selects row with Embarked values of either 'C' or 'Q'

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Name_length, Seniority, Survived_age_mean, Survived_words, age]
Index: []

In [103]:
df[~df.Embarked.isin(['C','Q'])] # Selects row with Embarked values that are neither 'C' nor 'Q'
# This is exactly same as "not in" in the query method

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_length,Seniority,Survived_age_mean,Survived_words,age
0,1,Perished,Third,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,23,Junior,31.618056,NaN,NaN
1,2,Survived,First,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,2,51,Senior,28.847716,NaN,NaN
2,3,Survived,Third,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,22,Junior,28.847716,NaN,NaN
3,4,Survived,First,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,44,Senior,28.847716,NaN,NaN
4,5,Perished,Third,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,1,24,Senior,31.618056,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,Perished,Second,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,1,21,Junior,31.618056,NaN,NaN
887,888,Survived,First,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,1,28,Junior,28.847716,NaN,NaN
888,889,Perished,Third,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,1,40,Junior,25.046875,NaN,NaN
889,890,Survived,First,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,2,21,Junior,27.276022,NaN,NaN
890,891,Perished,Third,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,3,19,Senior,31.618056,NaN,NaN

In [ ]:
df.query('Survived==1 and Pclass in ["First","Second"]')

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Name_length, Seniority, Survived_age_mean, Survived_words, age]
Index: []

In [ ]:
df[(df.Survived==1) & (df.Pclass.isin(['First','Second']))]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Name_length, Seniority, Survived_age_mean, Survived_words, age]
Index: []

In [ ]:
df.Pclass.unique()

array(['Third', 'First', 'Second'], dtype=object)